<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta charset="ISO-8859-1"></meta>
  	<link rel="stylesheet" href="../public/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
	<script src="../public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
	<script src="../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../public/js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
	<script src="../public/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
	<script src="../public/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <title>Fasilitas</title>
  </head>
  <body>
    <div class="jumbotron">
	  <h1>Del Apps</h1>
	  <p>Daftar Data Fasilitas</p>
	</div>
    <a th:href="@{'/fasilitas/add'}">Tambah Fasilitas</a>
    <table class="table .table-striped">
    <tr>
    	<th>Name Fasilitas</th>
    	<th>Deskripsi Fasilitas</th>
    	<th>Aksi</th>
    </tr>
    <tr th:each="fasilitas : ${allfasilitas}">
			    		<td th:text="${fasilitas.namaFasilitas}"></td>
			    		<td th:text="${fasilitas.deskripsiFasilitas}"></td>
			    		<td><a th:href="@{'/fasilitas/delete/'+ ${fasilitas.id}}">Delete</a></td>
    </tr>
    </table>
  </body>
</html>